html,
body {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #121010 !important;
  color: rgba(255, 255, 255, 0.87) !important;
  color-scheme: dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.navbar {
  width: 100%;
  min-height: 50px;
  height: auto;
  background-color: #121010 !important;
  border-bottom: 1px solid #1f1f1f;
  /* transition: background-color 0.4s ease 0s; */
}
.navbar .navbar-brand {
  font-size: 22px;
  font-weight: 500;
  font-style: normal;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
  color: #fff !important;
}
.navbar .nav-link {
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #fff !important;
}
.navbar-toggler:focus {
  transition: ease-in-out 500ms;
}

.navbar-collapse {
  -webkit-transition: background-color 300ms ease-out !important;
  -moz-transition: background-color 300ms ease-out !important;
  -o-transition: background-color 300ms ease-out !important;
  transition: background-color 300ms ease-out !important;
}

@media (min-width: 576px) {
  .navbar .navbar-brand {
    font-size: 28px;
  }
  .navbar .nav-link {
    font-size: 18px;
  }
}

@media (min-width: 992px) {
  .navbar .navbar-brand {
    font-size: 28px;
  }
  .navbar .nav-link {
    font-size: 18px;
  }
}

/* @media (max-width: 500px) {
  .navbar .navbar-brand {
    font-size: 22px;
  }
  .navbar .nav-link {
    font-size: 16px;
  }
} */

/*
   Footer
 */
.IDN-footer__section {
  /* display: none; */
  position: relative;
  /* position: absolute;
  bottom: 0; */
  width: 100%;
  height: 100px;
  padding: 20px;
  border-top: 1px groove #1f1f1f;
}
.IDN-footer__section .IDN-footer__copy {
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  text-transform: capitalize;
  letter-spacing: 1px;
  text-align: start;
}
.IDN-footer__section .IDN-footer__text {
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.IDN-footer__section .IDN-footer__scrool {
  position: absolute;
  width: 100%;
  top: -100%;
  bottom: 0;
  left: 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.ib-card-heading {
  width: 100%;
  height: auto;
  padding: 20px 20px;
  background-color: #181717;
  border-radius: 12px;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 20em;
}
.spinner .blob {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10000;
  transform: translate(-50%, -50%);
  border: 2px solid #fff;
  width: 11px;
  height: 10px;
  border-radius: 50%;
}
.spinner .blob.top {
  top: 0;
  -webkit-animation: blob-top 1s infinite ease-in;
  animation: blob-top 1s infinite ease-in;
}
.spinner .blob.bottom {
  top: 100%;
  -webkit-animation: blob-bottom 1s infinite ease-in;
  animation: blob-bottom 1s infinite ease-in;
}
.spinner .blob.left {
  left: 0;
  -webkit-animation: blob-left 1s infinite ease-in;
  animation: blob-left 1s infinite ease-in;
}
.spinner .move-blob {
  background: #fff;
  top: 0;
  -webkit-animation: blob-spinner-mover 1s infinite ease-in;
  animation: blob-spinner-mover 1s infinite ease-in;
}

@-webkit-keyframes blob-bottom {
  25%,
  50%,
  75% {
    top: 50%;
    left: 100%;
  }
  100% {
    top: 0;
    left: 50%;
  }
}

@keyframes blob-bottom {
  25%,
  50%,
  75% {
    top: 50%;
    left: 100%;
  }
  100% {
    top: 0;
    left: 50%;
  }
}
@-webkit-keyframes blob-left {
  25% {
    top: 50%;
    left: 0;
  }
  50%,
  100% {
    top: 100%;
    left: 50%;
  }
}
@keyframes blob-left {
  25% {
    top: 50%;
    left: 0;
  }
  50%,
  100% {
    top: 100%;
    left: 50%;
  }
}
@-webkit-keyframes blob-top {
  50% {
    top: 0;
    left: 50%;
  }
  75%,
  100% {
    top: 50%;
    left: 0;
  }
}
@keyframes blob-top {
  50% {
    top: 0;
    left: 50%;
  }
  75%,
  100% {
    top: 50%;
    left: 0;
  }
}
@-webkit-keyframes blob-spinner-mover {
  0%,
  100% {
    top: 0;
    left: 50%;
  }
  25% {
    top: 50%;
    left: 100%;
  }
  50% {
    top: 100%;
    left: 50%;
  }
  75% {
    top: 50%;
    left: 0;
  }
}
@keyframes blob-spinner-mover {
  0%,
  100% {
    top: 0;
    left: 50%;
  }
  25% {
    top: 50%;
    left: 100%;
  }
  50% {
    top: 100%;
    left: 50%;
  }
  75% {
    top: 50%;
    left: 0;
  }
}

.news-card-items__recomended {
  width: 100%;
  height: auto;
  background-color: #181717 !important;
  box-shadow: 0 !important;
  border: 0;
  text-align: left;
  overflow: hidden;
}
